<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
    <header>
        <nav>
            <a href="#"><span>Recycool</span></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Classification</a></li>
                <li><a href="reccomendation">Recomendation</a></li>
                <li><a href="/">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- First Section -->

        <section class="first_section">
            <div class="welcome_section">
                <h1>Recycle with Precision</h1>
                <h2>Curated Tips Just for You!</h2>
                <p>Get personalized recycling tips for effortless eco-action with Recycle with Precision. Your green journey begins now!
                </p>
                    <a href="#">Start Now</a>
            </div>
            <figure><img src="{{ url_for('static', filename='img/img_reccomendation.jpeg') }}" alt="" class="welcome_image"></figure>
        </section>








<!-- Fourth Section - Recycling Recommendation -->
<section class="fourth_section">
    <h1>Recycling Recommendation</h1>
    <div class="slider-container">
        <button class="prev-button" onclick="prevImage()"><img src="{{ url_for('static', filename='img/forward.svg') }}" alt=""></button>
        <div class="slider">
            <!-- Update each img tag in your slider with an onclick attribute -->
            <img src="{{ url_for('static', filename='img/Rectangle_14.svg') }}" alt="" class="slide active" onclick="openModal('{{ url_for('static', filename='img/Rectangle_14.svg') }}',  'Vas Bunga dari Botol Kaca')">
            <img src="{{ url_for('static', filename='img/Rectangle_15.svg') }}" alt="" class="slide inactive" onclick="openModal('{{ url_for('static', filename='img/Rectangle_15.svg') }}', 'Lampu dari Botol Kaca')">
            <img src="{{ url_for('static', filename='img/Rectangle_16.svg') }}" alt="" class="slide inactive" onclick="openModal('{{ url_for('static', filename='img/Rectangle_16.svg') }}', 'Terrarium dari Botol Kaca')">
            <img src="{{ url_for('static', filename='img/bottle-1.svg') }}" alt="" class="slide inactive" onclick="openModal('{{ url_for('static', filename='img/bottle-1.svg') }}', 'Boneka dari Plastik')">
            <img src="{{ url_for('static', filename='img/cardboard-1.svg') }}" alt="" class="slide inactive" onclick="openModal('{{ url_for('static', filename='img/cardboard-1.svg') }}', 'Gantungan Kunci dari Kardus')">
        </div>
        <button class="next-button" onclick="nextImage()"><img src="{{ url_for('static', filename='img/forward.svg') }}" alt=""></button>
    </div>
</section>



        <!-- Add this div at the end of your body tag -->
    <div id="imageModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img id="modalImage" class="modal-content">
    <p id="modalText">tes123</p>
    </div>
  


    </main>




    <footer>
        <a href="#">@Recycool</a>
    </footer>


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
</body>

</html>